{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Have a Template that needs to be added?</h1>
  <p>Add a new Template with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      <div >{{ form.name.label}} &nbsp; {{form.name() }}</div> <!--here &nbsp; is to add extra space -->
      <div >{{ form.actor.label}} &nbsp;&nbsp; {{form.actor() }}</div>
      <div >{{ form.movie.label}} &nbsp; {{form.movie() }}</div>
      <div >{{ form.link.label}} &nbsp;&nbsp;&nbsp;&nbsp; {{form.link() }}</div>
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
