{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Searching for a Template?</h1>
  <p>Search by either actor or by movie or by both</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      <div>{{ form.actor.label}} &nbsp;&nbsp; {{form.actor() }}

        <span>&nbsp;OR choose from the list&nbsp;</span>
        <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            List of actors
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for actor in actors_list %}
              <a class="dropdown-item" href={{url_for('find_template_actor', actor = actor)}}>{{actor}}</a>
            {% endfor %}
          </div>
        </span>
      </div>

      <p> </p>

      <div>{{ form.movie.label}} &nbsp; {{form.movie() }}

        <span>&nbsp;OR choose from the list&nbsp;</span>
        <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            List of movies
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for movie in movies_list %}
            <a class="dropdown-item" href={{url_for('find_template_movie', movie = movie)}}>{{movie}}</a>
            {% endfor %}
          </div>
        </span>
      </div>
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
