{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Here is a list of all available templates.</h1>

  <table class="table table-hover table-dark">
    <thead>
      <tr class="p-3 mb-2 bg-light text-dark">
        <th scope="col">#</th>
        <th scope="col" style="width:50%">Name</th>
        <th scope="col">Actor</th>
        <th scope="col">Movie</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {% for temp in templates  %}
      <tr>
        <td>{{temp.id}}</th>
        <td>{{temp.name}}</td>
        <td>{{temp.actor}}</td>
        <td>{{temp.movie}}</td>
        <td><a href={{temp.link}} class="text-success" >Click here</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
